#Wizard .t-Wizard-body{
  display:none
}

#DISABLED_NEXT{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666            !important;
  text-decoration: line-through !important;
}